.moreabout[name]
{
position:absolute;
background-color:#fff7de;
height:2356px;
width:4539px;
}
.two
{
background-color:#ffffff;
height:972px;
width:1360px;
left:150px;
top:167px;
position:absolute;
}
.interests
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
top:66.72px;
left:64px;
position:absolute;
width:269px;
}
.sticky
{
background-color:#ffafa3;
height:240px;
width:240px;
top:366px;
left:256px;
position:absolute;
}
.sticky2
{
background-color:#ffafa3;
height:240px;
width:240px;
top:366px;
left:560px;
position:absolute;
}
.sticky3
{
background-color:#ffafa3;
height:240px;
width:240px;
top:366px;
left:864px;
position:absolute;
}
.seven
{
background-color:#ffffff;
height:972px;
width:1360px;
top:1217px;
left:150px;
position:absolute;
}
.needsandexpectations
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
top:66.72px;
left:64px;
position:absolute;
width:728px;
}
.sticky4
{
background-color:#ffc470;
height:240px;
width:240px;
top:366px;
left:256px;
position:absolute;
}
.sticky5
{
background-color:#ffc470;
height:240px;
width:240px;
top:366px;
left:560px;
position:absolute;
}
.sticky6
{
background-color:#ffc470;
height:240px;
width:240px;
top:366px;
left:864px;
position:absolute;
}
.twelve
{
background-color:#ffffff;
height:972px;
width:1360px;
top:167px;
left:1590px;
position:absolute;
}
.influences
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
top:66.72px;
left:64px;
position:absolute;
width:317px;
}
.sticky7
{
background-color:#85e0a3;
height:240px;
width:240px;
top:366px;
left:256px;
position:absolute;
}
.sticky8
{
background-color:#85e0a3;
height:240px;
width:240px;
top:366px;
left:560px;
position:absolute;
}
.sticky9
{
background-color:#85e0a3;
height:240px;
width:240px;
top:366px;
left:864px;
position:absolute;
}
.seventeen
{
background-color:#ffffff;
height:972px;
width:1360px;
top:1217px;
left:1590px;
position:absolute;
}
.motivations
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
top:66.72px;
left:64px;
position:absolute;
width:358px;
}
.sticky10
{
background-color:#d9b8ff;
height:240px;
width:240px;
top:366px;
left:256px;
position:absolute;
}
.sticky11
{
background-color:#d9b8ff;
height:240px;
width:240px;
top:366px;
left:560px;
position:absolute;
}
.sticky12
{
background-color:#d9b8ff;
height:240px;
width:240px;
top:366px;
left:864px;
position:absolute;
}
.twentytwo
{
background-color:#ffffff;
height:972px;
width:1360px;
top:167px;
left:3030px;
position:absolute;
}
.goals
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
top:66.72px;
left:64px;
position:absolute;
width:173px;
}
.sticky13
{
background-color:#75d7f0;
height:240px;
width:240px;
top:366px;
left:256px;
position:absolute;
}
.sticky14
{
background-color:#75d7f0;
height:240px;
width:240px;
top:366px;
left:560px;
position:absolute;
}
.sticky15
{
background-color:#75d7f0;
height:240px;
width:240px;
top:366px;
left:864px;
position:absolute;
}
.twentyseven
{
background-color:#ffffff;
height:972px;
width:1360px;
top:1217px;
left:3030px;
position:absolute;
}
.painpointsandfrustrations
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
top:66.72px;
left:64px;
position:absolute;
width:828px;
}
.sticky16
{
background-color:#ffd966;
height:240px;
width:240px;
top:366px;
left:256px;
position:absolute;
}
.sticky17
{
background-color:#ffd966;
height:240px;
width:240px;
top:366px;
left:560px;
position:absolute;
}
.sticky18
{
background-color:#ffd966;
height:240px;
width:240px;
top:366px;
left:864px;
position:absolute;
}
